.btn {
    width: 14.8rem;
    height: 4.6rem;
    color: white;
    background: #43AFFF33 0% 0% no-repeat padding-box;
    border: 1px solid #43AFFF;
    border-radius: 5px;
    font-weight: bold;
    font-size: 1.6rem;
    &:hover{
        color: white;
        opacity: 0.8;
    }
}



.true{
    background-color: #43AFFF;
}