.btn {
    width: 14.8rem;
    height: 4.6rem;
    color: white;
    background: #43AFFF33 0% 0% no-repeat padding-box;
    border: 1px solid #43AFFF;
    border-radius: 5px;
    opacity: 1;
    font-weight: bold;
    font-size: 1.6rem;
}