.job {
    height: 210px;
    background: linear-gradient(248deg, #303F60, #1A253C);
    padding: 0.8rem 10rem 15rem 17.3rem;
    color: white;

    .page {
        font-size: 15px;
        display: flex;
        gap: 5px;
        width: 4.8rem;
        align-items: center;

        &:hover{
            cursor: pointer;
        }

        img {
            width: 14px;
        }
    }

    .header {
        margin-top: 2.4rem;
    }

    .modal-container {
        border-radius: 20px;
        padding: 10px;
        width: 620px;

        // height: 100%;
        .body {
            p {
                color: #303F60;
                font-size: 17px;
            }

            .applicant-container {
                background-color: #A9AFBC;
                background: #a9afbc38 0% 0% no-repeat padding-box;
                border-radius: 10px;
                width: 100%;
                overflow-y: auto;
                height: 600px;

                .applicant {
                    padding: 9px;
                    gap: 20px;
                    display: flex;
                    flex-wrap: wrap;

                    .main {
                        border: 1px solid #303F6080;
                        border-radius: 5px;
                        font-size: 15px;
                        color: #303F60;
                        width: 250px;
                        height: 159px;
                        padding: 10px;

                        .top-bar {
                            display: flex;
                            flex-direction: row;
                            justify-content: flex-start;
                            gap: 20px;

                            .profile-image {
                                background-color: #D9EFFF;
                                color: #303F60;
                                font-size: 20px;
                                width: 50px;
                                height: 50px;
                                border-radius: 25px;
                                opacity: 1;
                                text-align: center;
                            }

                            .information {

                                .name {
                                    font-weight: 800;
                                    font-size: 20px
                                }

                                p {

                                    font-size: 15px;
                                }
                            }
                        }

                        .skills-container {
                            h5 {
                                font-weight: 800;
                            }

                            p {
                                font-size: 15px;
                            }

                        }
                    }
                }
            }
        }
    }

}


@media (max-width: 350px) {
    .job {
        padding: 0.8rem 5rem 0 6rem;
    }
}


@media (max-width: 350px) {
    .job {
        padding: 0.8rem 5rem 0 6rem;
    }
}