.job {
    height: 210px;
    background: linear-gradient(248deg, #303F60, #1A253C);
    padding: 8px 160px 0 190px;
    color: white;

    .page {
        font-size: 15px;
        display: flex;
        gap: 5px;
        width: 48px;
        align-items: center;

        img {
            width: 10px;
        }
    }

    .header {
        margin-top: 2.4rem;
    }

    .no-jobs-container {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 80vh;


        .no-jobs {
            display: flex;
            flex-direction: column;
            gap: 19px;
            align-items: center;
            font: 24px;


            .text {
                color: #303F60;
                font-size: 24px;
                text-align: center;
            }
        }
    }
    .jobs-container {
        display: flex;
        flex-wrap: wrap;
        color: black;
        gap: 18px;


        .jobs-content {
            background: #FFFFFF 0% 0% no-repeat padding-box;
            box-shadow: 0px 3px 6px #557DA526;
            border-radius: 5px;

            .card-body {
                .card-title {
                    font-size: 1.7rem;
                    margin-bottom: 10px;

                }

                .card-text {
                    font-size: 1.4rem;
                    opacity: 0.8;
                }
            }

            .footer {
                display: flex;
                justify-content: space-between;
                align-items: center;

                span {
                    margin-left: 8px;
                }

                button {
                    width: 125px;
                    height: 32px;
                    /* UI Properties */
                    background: #43AFFF33 0% 0% no-repeat padding-box;
                    border-radius: 5px;
                    border: none;
                    color: #303F60;
                }
            }


        }


    }

}