.hero {
    .text-container {
        margin-top: 30px;
        font-size: 60px;
        color: #fff;

        p {
            line-height: 6rem;
            margin-bottom: 4rem;

        }

        .jobs {
            color: #43AFFF;
        }

        img {
            width: 100%;
        }

    }
}