nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(248deg ,#303F60,#1A253C );
    padding:  1.2rem  7rem;
    // margin: 0 ;
    // opacity: 0;
    height: 70px;

    
}