.no-jobs-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;


    .no-jobs {
        display: flex;
        flex-direction: column;
        gap: 19px;
        align-items: center;
        font: 2.4rem;


        .text {
            color: #303F60;
            font-size: 2.4rem;
            text-align: center;
        }
    }
}