
.no-applicant-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 550px;
    width: 100%;

    .no-applicant{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 20px;

    }
    
}
