footer {
    padding-bottom: 10rem;
    p {
        font-size: 2.2rem;
        margin: 40px 0;
    }
    .client-container {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 55px;
        align-content: 55px;

        img {
            height: 40px;
        }
    }
}