.group {
    margin-bottom: 20px;
  .form-input {
    background-color: white;
    color: #303F60;
    font-size: 16px;
    padding: 15px 17px;
    display: block;
    width: 100%;
    border: 1px solid #43AFFF;
    border-radius: 5px;
    height: 46px;
    &:focus {
      outline: none;
    }
  }

  input[type='password'] {
    letter-spacing: 0;
  }

  .form-input-label {
    color:#303F60;
    font-size: 14px;
    font-weight: normal;
  }
}